<footer id="footer" data-img-src="{{ site.url }}/assets/img/bg/002.png" class="set-bg">
  <div class="container">
    <div class="sp-shadow-line-0 footer-shadow"></div>
  </div>
  <div id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 m-bottom-sm-40"><a href="#" class="img"><img src="{{ site.url }}/assets/img/logo/logo-light.png" alt="Augmented Urban Space Modeling" class="logo-light ol-retina"></a>
          <div class="sp-blank-30"></div>
          <p>
            Dept. of Earth and Space Science and Engineering<br> Lassonde School of Engineering, York University<br> Room 312, Petrie Science & Engineering Building<br> 4700 Keele St., Toronto, ON M3J 1P3, Canada</p>
          <!--<ul class="social-icons shape-circle">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>-->
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-6">
          <div class="widget">
            <h4>Information for</h4>
            <div class="links">
              <ul>
                <li><a href="{{ site.alumni }}" target="_blank">Alumni</a></li>
                <li><a href="{{ site.entrepreneurs }}" target="_blank">Entrepreneurs</a></li>
                <li><a href="{{ site.currentstudents }}" target="_blank">Current students</a></li>
                <li><a href="{{ site.facultyandstaff }}" target="_blank">Faculty and staff</a></li>
                <li><a href="{{ site.futurestudents }}" target="_blank">Future students</a></li>
                <li><a href="{{ site.fellowshipstudents }}" target="_blank">Fellowship students</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h4>Usefull links</h4>
            <div class="links">
              <ul>
                <li><a href="{{ site.admissionsandaid }}" target="_blank">Admission & Aid</a></li>
                <li><a href="{{ site.accessibility }}" target="_blank">Accessibility</a></li>
                <li><a href="{{ site.academics }}" target="_blank">Academics</a></li>
                <li><a href="{{ site.research }}" target="_blank">Research</a></li>
                <li><a href="{{ site.campuslife }}" target="_blank">Campus Life</a></li>
                <li><a href="{{ site.library }}" target="_blank">Library</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bar">
    <div class="container">
      <div class="row tb-vcenter-wrapper bottom-bar">
        <div class="col-sm-6 vcenter">
          <div class="copyright">{{ site.name }} {{ 'now' | date: "%Y" }}.</div>
          <div class="promo"> {{ site.location }}</div>
        </div>
        <div class="col-sm-6 vcenter">
          <ul class="footer-menu text-right-md">
            <li><a href="/">Home</a></li>
            <li><a href="{{ site.futurestudents }}" target="_blank">Admission</a></li>
            <li><a href="{{ site.facultyandstaff }}" target="_blank">Staff</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>