<footer id="footer" data-img-src="{{ site.url }}/assets/img/bg/002.png" class="set-bg">
  <div class="container">
    <div class="sp-shadow-line-0 footer-shadow"></div>
  </div>
  <div id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 m-bottom-sm-40"><a href="#" class="img"><img src="{{ site.url }}/assets/img/logo/logo-light.png" alt="CHAOS HTML Template" class="logo-light ol-retina"></a>
          <div class="sp-blank-30"></div>
          <p>
            Dept. of Earth and Space Science and Engineering<br> Lassonde School of Engineering, York University<br> Room 312, Petrie Science & Engineering Building<br> 4700 Keele St., Toronto, ON M3J 1P3, Canada</p>
          <!--<ul class="social-icons shape-circle">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>-->
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-6">
          <div class="widget">
            <h4>Information for</h4>
            <div class="links">
              <ul>
                <li><a href="#">Alumni</a></li>
                <!--<li><a href="#">Entrepreneurs</a></li>-->
                <li><a href="#">Current students</a></li>
                <li><a href="#">Faculty and staff</a></li>
                <li><a href="#">Future students</a></li>
                <li><a href="#">Fellowship students</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h4>Usefull links</h4>
            <div class="links">
              <ul>
                <li><a href="#">Admission & Aid</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Academics</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Campus Life</a></li>
                <li><a href="#">Library</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bar">
    <div class="container">
      <div class="row tb-vcenter-wrapper bottom-bar">
        <div class="col-sm-6 vcenter">
          <div class="copyright">{{ site.name }} {{ 'now' | date: "%Y" }}.</div>
          <div class="promo"> {{ site.location }}</div>
        </div>
        <div class="col-sm-6 vcenter">
          <ul class="footer-menu text-right-md">
            <li><a href="#">Home</a></li>
            <li><a href="#">Admission</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="{{ site.data.navigation.contact }}">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>