<div data-img-src="assets/img/bg/010.jpg" data-parallax-mode="mode-title" class="page-head parallax-layer center-it dark bg-white h-400 ov-grad6-alpha-60">
  <div class="container">
    <div class="tb-vcenter-wrapper">
      <div data-parallax-mode="mode-header-content" class="vcenter parallax-layer">
        <div class="sp-blank-50"></div>
        <h4 class="head">{{ site.institute }}</h4>
        <h1 class="title">{{ site.name }}</h1>
        <!--<div class="sp-blank-50"></div><a href="#" class="btn btn-medium btn-circle btn-skin-blue btn-icon-right btn-anim-i"> <i class="oli oli-forward"></i><span>Explore the lab</span></a>-->
      </div>
    </div>
  </div>
</div>
