<ul id="primary-menu">
  {% capture pageurl %} {{ page.url | remove: '/' }} {% endcapture %}
  {% for link in site.data.navigation.items %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    {% capture linkurl %} {{ link.url | remove: '/' }} {% endcapture %}
    <li class="{% if linkurl == pageurl %}current-menu-item{% endif %}"><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %} title="{{ link.title }}"><span>{{ link.title }}</span></a>
  {% endfor %}
</ul>
