<!DOCTYPE html>
<!--
                                   _       _
								  | |     | |
  Designed and Coded By           | | __ _| |__
 / _ \ \ /\ / /\ \ /\ / /\ \ /\ / / |/ _` | '_ \
| (_) \ V  V /  \ V  V /  \ V  V /| | (_| | |_) |
 \___/ \_/\_/    \_/\_/    \_/\_/ |_|\__,_|_.__/

http://themeforest.net/user/owwwlab/

-->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
<!-- #####Begin head-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- globalise scripting and styling content language-->
  <meta name="Content-Type-Script" content="text/javascript">
  <meta name="Content-Type-Style" content="text/css">
  <!-- author of this doc-->
  <meta name="author" content="owwwlab.com">
  <!-- ################################-->
  <!-- #### add SEO metadata here-->
  <!-- ################################-->
  <!-- #####Begin styles-->
  <!-- stylesheets	-->
  <link href="assets/css/vendors/vendors.css" rel="stylesheet" type="text/css">
  <!-- Load extra page specific css-->
  <link href="assets/revolution/css/revolution-all.css" rel="stylesheet" type="text/css">
  <!-- Overwrite vendors-->
  <link href="assets/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
  <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
  <link href="assets/css/demo4.css" rel="stylesheet" type="text/css">
  <!-- #####End styles-->
  <!-- #####Begin JS-->
  <!-- add your scripts to the end of the page for sake of page load speed-->
  <!-- scripts that need to be at head section-->
  <script src="assets/js/vendors/jquery.min.js"></script>
  <!-- #####End JS-->
  <!-- #####Begin load google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,700,900&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <!-- #####End load google fonts-->
  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
</head>
<!-- #####End head-->

<body class="fullwidth sticky-header">
  <div id="wrapper" class="regular-layout">
    <!-- #####Begin Header-->
    <header id="header" class=" dark trans">
      <div class="head-main">
        <div class="container">
          <!-- logo-->
          <!-- #####Begin logo wrapper-->
          <div class="logo-wrapper">
            <!-- standard Logo--><a href="/"><img src="assets/img/logo/logo-light.png" alt="CHAOS HTML Template" class="logo-light ol-retina"><img src="assets/img/logo/logo-dark.png" alt="CHAOS HTML Template" class="logo-dark ol-retina"></a>
          </div>
          <!-- #####End logo wrapper-->
          <!-- primary navigation-->

          {% include navigation.html %}

          <div class="header-icons">
            <!-- #####Begin mobile menu trigger-->
            <div class="ol-mobile-trigger hamburger hamburger--elastic">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
            <!-- #####End mobile menu trigger-->
          </div>
        </div>
      </div>
    </header>
    <!-- #####End Header-->
    <!-- #####Begin contents-->
    <section id="contents">
      <!-- #####Begin page head-->
      {% include homepagehead.html %}
      <!-- #####End page head-->
      <section class="page-contents">
        <!-- #####Begin main area-->
        <section id="main-area">
          <section class="section">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div>
                    <div class="heading-with-sub">
                      <h2 class="title">Introducation</h2>
                    </div>
                    {{ content }}
                  </div>
                  <div class="sp-line-60"></div>
                </div>
                <div class="col-md-5">
                  <div class="heading-with-sub">
                    <h2 class="title">Selected Publications</h2>
                  </div>

                  {% for publication in site.data.selectedpublications %}

                  <div class="pub-item with-thumb large">
                    <div class="elem-wrapper"><img src="assets/img/publications/02.jpg" alt="item thumbnail" class="pub-thumbnail"></div>
                    <div class="content-wrapper">
                      <h3 class="title"><a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a></h3>
                      <div class="description">
                        <div class="citation"><span> <a href="#">{{ publication.conference }}</a><span class="block-elem">{{ publication.citation }}</span></span>
                        </div><a href="#" class="link-with-icon"> <i class="fa fa-external-link"></i>Publisher's website</a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="sp-blank-30"></div>

                  <a href="/publication" class="btn btn-small btn-circle btn-anim-drawer">read more</a>

                </div>
              </div>

              <!-- #####Begin heading-->
              <div class="sp-line-60"></div>
              <div class="heading-with-sub">
                <h2 class="title">Recent News</h2>
                <h4 class="subtitle">We publish news about latest changes, announcements and recent projects</h4>
              </div>
              <!-- #####End heading-->
              <div class="sp-blank-30"></div>
              <!-- #####Begin carousel-->
              <div data-margin="30" data-nav="true" data-loop="false" class="owl-carousel items owwwlab-theme nav-top-center has-shadow">
                <!-- #####Begin  book element-->

                {% for post in site.posts %} {% if post.image.teaser %}
                <a href="{{ site.github.url | replace: 'http://', '//' }}{{ post.url }}" class="book-el shadow set-bg skin-blue">
                        <img src="assets/img/posts/{{ post.image.teaser }}" class="set-me">
                  {% else %}
                  <a href="#" class="book-el shadow skin-blue">
                  {% endif %}
                    <div class="contents">
                      <div class="item-meta">
                        <h6 class="date">{{ post.date | date: '%B %d, %Y' }}</h6>
                        <h6 class="cat">{{ post.categories }}</h6>
                        <h6 class="author">{{ post.author}}</h6>
                      </div>
                      <div class="title-wrapper">
                        <h2 class="title">{{ post.title }}</h2>
                      </div>
                    </div>
                  </a> {% endfor %}
                <!-- #####End  book element-->
              </div>
              <!-- #####End carousel-->

              <div class="sp-blank-30"></div>

              <a href="/news" class="btn btn-small btn-circle btn-anim-drawer">read more</a>

          </section>

        </section>

        <!-- #####End main area -->
      </section>
    </section>
    <section class="section ov-grad9-alpha-20">
      <div class="container">
        <!-- #####Begin heading-->
        <div class="heading-with-sub text-center">
          <h2 class="title">Partners</h2>
          <h4 class="subtitle">Here is an awesome list of our partners</h4>
        </div>
        {% include partners.html %}
      </div>
    </section>

    <!-- #####End contents-->
    {% include footer.html %}
    </div>
    <!-- #####Begin scripts-->
    <script src="assets/js/vendors/vendors.js"></script>
    <script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Local Revolution tools-->
    <!-- Only for local and can be removed on server-->
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript">
      jQuery("#rev_slider_24_1").show().revolution({
        sliderType: "standard",
        sliderLayout: "fullscreen",
        dottedOverlay: "none",
        delay: 9000,
        navigation: {
          keyboardNavigation: "on",
          keyboard_direction: "horizontal",
          onHoverStop: "off",
          touch: {
            touchenabled: "on",
            swipe_threshold: 75,
            swipe_min_touches: 1,
            swipe_direction: "horizontal",
            drag_block_vertical: false
          },
          bullets: {
            enable: true,
            hide_onmobile: true,
            hide_under: 1024,
            style: "ol-theme",
            hide_onleave: false,
            direction: "vertical",
            h_align: "right",
            v_align: "center",
            h_offset: 40,
            v_offset: 0,
            space: 0,
            tmp: '<span class="tp-bullet-inner"></span>'
          }
        },
        viewPort: {
          enable: true,
          outof: "wait",
          visible_area: "80%"
        },
        responsiveLevels: [1240, 1024, 778, 480],
        gridwidth: [1240, 1024, 778, 480],
        gridheight: [868, 768, 960, 720],
        lazyType: "single",
        shadow: 0,
        spinner: "off",
        stopLoop: "on",
        stopAfterLoops: 0,
        stopAtSlide: 1,
        shuffle: "off",
        autoHeight: "off",
        fullScreenAlignForce: "off",
        fullScreenOffsetContainer: "",
        fullScreenOffset: "",
        disableProgressBar: "on",
        hideThumbsOnMobile: "off",
        hideSliderAtLimit: 0,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        debugMode: false,
        fallbacks: {
          simplifyAll: "off",
          nextSlideOnWindowFocus: "off",
          disableFocusListener: false,
        }
      })
    </script>
    <script src="assets/js/custom.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- #####End scripts-->
</body>

</html>