<!DOCTYPE html>
<!--
                                   _       _
								  | |     | |
  Designed and Coded By           | | __ _| |__
 / _ \ \ /\ / /\ \ /\ / /\ \ /\ / / |/ _` | '_ \
| (_) \ V  V /  \ V  V /  \ V  V /| | (_| | |_) |
 \___/ \_/\_/    \_/\_/    \_/\_/ |_|\__,_|_.__/

http://themeforest.net/user/owwwlab/

-->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
<!-- #####Begin head-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- globalise scripting and styling content language-->
  <meta name="Content-Type-Script" content="text/javascript">
  <meta name="Content-Type-Style" content="text/css">
  <!-- author of this doc-->
  <meta name="author" content="owwwlab.com">
  <!-- ################################-->
  <!-- #### add SEO metadata here-->
  <!-- ################################-->
  <!-- #####Begin styles-->
  <!-- stylesheets	-->
  <link href="{{ site.url }}/assets/css/vendors/vendors.css" rel="stylesheet" type="text/css">
  <!-- Load extra page specific css-->
  <!-- Overwrite vendors-->
  <link href="{{ site.url }}/assets/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
  <link href="{{ site.url }}/assets/css/styles.css" rel="stylesheet" type="text/css">
  <link href="{{ site.url }}/assets/css/demo4.css" rel="stylesheet" type="text/css">
  <!-- #####End styles-->
  <!-- #####Begin JS-->
  <!-- add your scripts to the end of the page for sake of page load speed-->
  <!-- scripts that need to be at head section-->
  <script src="{{ site.url }}/assets/js/vendors/jquery.min.js"></script>
  <!-- #####End JS-->
  <!-- #####Begin load google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <!-- #####End load google fonts-->
  <title>{{ page.title }} • {{ site.title }}</title>
</head>
<!-- #####End head-->

<body class="fullwidth sticky-header">
  <div id="wrapper" class="regular-layout">
    <!-- #####Begin Header-->
    <header id="header" class=" trans dark sticky-light">
      <!-- #####Begin header main area-->
      <div class="head-main">
        <div class="container">
          <!-- #####Begin logo wrapper-->
          <div class="logo-wrapper">
            <!-- standard Logo--><a href="/"><img src="{{ site.url }}/assets/img/logo/logo-light.png" alt="CHAOS HTML Template" class="logo-light ol-retina"><img src="{{ site.url }}/assets/img/logo/logo-dark.png" alt="CHAOS HTML Template" class="logo-dark ol-retina"></a>
          </div>
          <!-- #####End logo wrapper-->
          {% include navigation.html %}
          <!-- #####Begin icons beside menu-->
          <div class="header-icons">
            <!-- #####Begin mobile menu trigger-->
            <div class="ol-mobile-trigger hamburger hamburger--elastic">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
            <!-- #####End mobile menu trigger-->
          </div>
          <!-- #####End icons beside menu-->
        </div>
      </div>
      <!-- #####End header main area-->
    </header>
    <!-- #####End Header-->
    <!-- #####Begin contents-->
    <section id="contents">
      <!-- #####Begin page head-->
      <div class="page-head dark hvh-70 center-it parallax-layer ov-grad1-alpha-60" data-img-src="{{ site.url }}/assets/img/posts/{{ page.image.feature }}" data-parallax-mode="mode-title">
        <div class="container">
          <div class="tb-vcenter-wrapper">
            <div class="title-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-content">
              <h4 class="head">{{ page.categories }}</h4>
              <h1 class="title">{{ page.title }}</h1>
            </div>
            <div class="breadcrumb-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-content">
              <ul class="breadcrumb">
                <li><a href="#"><i class="oli oli-home"></i></a></li>
                <li><a href="#">publication</a></li>
                <li><a href="#">publication type</a></li>
                <li>learning environment</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #####End page head
        -->
      <section class="page-contents">
        <!-- #####Begin main area-->
        <section id="main-area">
          <section class="section slim-container">
            <div class="container">
              <div class="single-post m-top-30 large-typo">
                <!-- #####Begin post metadata-->
                <div class="post-metas center-meta"><a href="#" class="avatar avatar-sm"><img src="{{ site.url }}/assets/img/avatar/{{ page.author-avatar }}"></a>
                  <ul class="meta">
                    <li class="author">by <a href="#">{{ page.author }}</a></li>
                    <li class="publish_date">

                      on <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
                    </li>
                  </ul>
                </div>
                <!-- #####End post metadata-->
                <!-- #####Begin post contents-->
                {{ content }}
                <!-- #####End post contents-->
              </div>
          </section>
          <!-- #####End main area
          -->
          <div class="clearfix"></div>
        </section>
      </section>
      <!-- #####End contents-->
      <!-- #####Begin footer-->
      {% include footer.html %}
      <!-- #####End footer-->
      </div>
      <!-- #####Begin scripts-->
      <script src="{{ site.url }}/assets/js/vendors/vendors.js"></script>
      <!-- Local Revolution tools-->
      <!-- Only for local and can be removed on server-->
      <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
      <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
      <script src="{{ site.url }}/assets/js/custom.js"></script>
      <script src="http://localhost:35729/livereload.js"></script>
      <!-- #####End scripts-->
</body>

</html>