<!DOCTYPE html>
<!--
                                   _       _
								  | |     | |
  Designed and Coded By           | | __ _| |__
 / _ \ \ /\ / /\ \ /\ / /\ \ /\ / / |/ _` | '_ \
| (_) \ V  V /  \ V  V /  \ V  V /| | (_| | |_) |
 \___/ \_/\_/    \_/\_/    \_/\_/ |_|\__,_|_.__/

http://themeforest.net/user/owwwlab/

-->
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">
<!-- #####Begin head-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- globalise scripting and styling content language-->
  <meta name="Content-Type-Script" content="text/javascript">
  <meta name="Content-Type-Style" content="text/css">
  <!-- author of this doc-->
  <meta name="author" content="owwwlab.com">
  <!-- ################################-->
  <!-- #### add SEO metadata here-->
  <!-- ################################-->
  <!-- #####Begin styles-->
  <!-- stylesheets	-->
  <link href="{{ site.url }}/assets/css/vendors/vendors.css" rel="stylesheet" type="text/css">
  <!-- Load extra page specific css-->
  <!-- Overwrite vendors-->
  <link href="{{ site.url }}/assets/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
  <link href="{{ site.url }}/assets/css/styles.css" rel="stylesheet" type="text/css">
  <link href="{{ site.url }}/assets/css/demo5.css" rel="stylesheet" type="text/css">
  <!-- #####End styles-->
  <!-- #####Begin JS-->
  <!-- add your scripts to the end of the page for sake of page load speed-->
  <!-- scripts that need to be at head section-->
  <script src="{{ site.url }}/assets/js/vendors/jquery.min.js"></script>
  <!-- #####End JS-->
  <!-- #####Begin load google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,700,900&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
  <!-- #####End load google fonts-->
  <title>{{ page.title }} • {{ site.title }}</title>
</head>
<!-- #####End head-->

<body class="fullwidth bg-gray sticky-header">
  <div id="wrapper" class="boxed-layout">
    <!-- #####Begin Header-->
    <header id="header" class=" dark sticky">
      <div class="head-main">
        <div class="container">
          <!-- logo-->
          <!-- #####Begin logo wrapper-->
          <div class="logo-wrapper">
            <!-- standard Logo--><a href="index.html"><img src="{{ site.url }}/assets/img/logo/logo-light.png" alt="CHAOS HTML Template" class="logo-light ol-retina"><img src="{{ site.url }}/assets/img/logo/logo-dark.png" alt="CHAOS HTML Template" class="logo-dark ol-retina"></a>
          </div>
          <!-- #####End logo wrapper-->
          <!-- primary navigation-->

          {% include navigation.html %}

          <div class="header-icons"></div>
          <!-- #####Begin mobile menu trigger-->
          <div class="ol-mobile-trigger hamburger hamburger--elastic">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
          <!-- #####End mobile menu trigger-->
        </div>
      </div>
    </header>
    <!-- #####End Header-->
    <!-- #####Begin contents-->
    <section id="contents">
      <!-- #####Begin page head-->
      <div class="page-head h-300 center-it parallax-layer dark ov-dark-alpha-80" data-img-src="{{ site.url }}/assets/img/bg/06.jpg" data-parallax-mode="mode-title">
        <div class="container">
          <div class="tb-vcenter-wrapper">
            <div class="title-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-content">
              <h4 class="head">{{ site.name }}</h4>
              <h1 class="title">{{ page.title }}</h1>
              <!--<h2 class="description">{{ site.title }}</h2>-->
            </div>
            <div class="breadcrumb-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-content">
              <ul class="breadcrumb">
                <li><a href="#"><i class="oli oli-home"></i></a></li>
                <li><a href="#">publication</a></li>
                <li><a href="#">publication type</a></li>
                <li>learning environment</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #####End page head
        -->
      <section class="page-contents">
        <!-- #####Begin main area-->
        <section id="main-area">
          <section class="section bg-gray">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="news-posts date-aside-list">


                    {% for post in site.posts %}

                    <div class="post">
                      <!--
                      {% if post.image.teaser %}
                      <div class="post-header"><a href="{{ site.github.url | replace: 'http://', '//' }}{{ post.url }}" class="post-thumb"><img src="{{ site.url }}assets/img/posts/{{ post.image.teaser }}"></a></div>
                      {% endif %}
                    -->

                      <div class="post-contents">
                        <div class="published_date">
                          <div class="day">{{ post.date | date: '%d' }}</div>
                          <div class="month">{{ post.date | date: '%B' }}</div>
                          <div class="year">{{ post.date | date: '%Y' }}</div>
                        </div>
                        <div class="aside">
                          <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                          <ul class="meta">
                            <li class="author">by <a href="#">{{ post.author }}</a></li>
                            <li class="cats">in <a href="#">{{ post.categories }}</a></li>
                          </ul>
                          <div class="post-excerpt">{{ post.excerpt }}</div><a href="{{ post.url }}" class="read-more btn btn-small btn-circle btn-icon-right btn-anim-i"> <i class="oli oli-forward"></i><span>Read More</span></a>
                        </div>
                      </div>
                    </div>

                    {% if forloop.last == false %}
                    <div class="sp-line-75"></div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
          </section>
        </section>
        <!-- #####End main area
          -->
        <div class="clearfix"></div>
      </section>
    </section>
    <!-- #####End contents-->
    {% include footer.html %}
    </div>
    <!-- #####Begin scripts-->
    <script src="{{ site.url }}/assets/js/vendors/vendors.js"></script>
    <!-- Local Revolution tools-->
    <!-- Only for local and can be removed on server-->
    <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="{{ site.url }}/assets/js/custom.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- #####End scripts-->
</body>

</html>
